*{
  box-sizing: border-box;
}
body {
  font-family: 'Lato', sans-serif;
  font-weight: normal;
}
.header{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 85px;
  border-bottom: 1px solid #D6D6D6;;
}
.header-logo{
  margin-right: 172px;
}
.navigation{
  margin-right: 283px;
  justify-content: space-between;
}
.navigation-link{
  margin-right: 72px;
  text-decoration: none;
  font-weight: 400;
  font-size: 19px;
  line-height: 24px;
  color: #292929;
}
.navigation-link:last-child{
  margin-right: 0;
}
.button-group{
  display: inline-flex;
  width: 277px;
  height: 51px;
}
.button{
  align-items: center;
  justify-content: center;
  border:none;
  height: 100%;
  padding: 0;
  font-weight: normal;
  font-size: 19px;
  line-height: 24px;
  cursor: pointer;
  outline-color: #004A35;
}
.sign-in{
  width: 40%;
  background-color: #fff;
  color: #000000;
}
.get-started{
  width: 60%;
  background: #01996D;
  border: 1px solid #01996D;
  border-radius: 4px;
  color: #fff;
}
.promo-section{
  margin: auto;
  max-width: 1920px;
  min-height: 895px;
  background-image: url(../img/bg_promo.jpg);
}
.promo{
  display: inline-flex;
  flex-direction: column;
  width: 440px;
  margin-top: 165px;
  margin-right: 1205px;
  margin-bottom: 336px;
  margin: 275px;
}
.promo-title{
  font-weight: 700;
  font-size: 65px;
  line-height: 74px;
  color: #01996D;
  margin: 0;
  margin-bottom: 30px;
}
.promo-text, .text-custom-info{
  font-weight: 400;
  font-size: 19px;
  line-height: 31px;
  color: #484848;
}
.promo-button{
  margin-top: 18px;
  width: 227px;
  height: 65px;
}
.description{
  margin: auto;
  max-width: 1920px;
  padding: 169px 232px 51px 275px;
}
.subtitle-discr, .custom-info{
  font-weight: 700;
  font-size: 24px;
  line-height: 157%;
  color: #424242;
}
.about-discr{
  display: flex;
  margin-top: -5px;
  align-items: center;
}
.title-discr{
  font-weight: 700;
  font-size: 50px;
  line-height: 157%;
  color: #01996D;
  padding: 0 136px 0 0;
  width: 50%;
  margin: 0;
}
.text-discr{
  font-weight: 400;
  font-size: 19px;
  line-height: 150%;
  color: #424242;
  width: 50%;
}
.main-discription{
  margin-top: 50px;
  width: 100%;
  max-width: 1920px;
  display:inline-flex;
  justify-content: space-between;
}
.card-discr{
  width: 30%;
}
.card-discr-2{
  margin-top: 200px;
}
.card-discr-3{
  margin-top: 50px;
}
.card-title-discr{
  display: flex;
  align-items: baseline;
}
.count-cards{
  color: rgba(1, 153, 109, 0.2);
  font-weight: 400;
  font-size: 150px;
  line-height: 150%;
}
.title-cards{
  margin-left: -60px;
  color: #000000;
  font-weight: 700;
  font-size: 30px;
  line-height: 150%;
}
.card-text-discr{
  width: 100%;
  font-weight: 400;
  font-size: 19px;
  line-height: 150%;
  color: #424242;
}
.img-card-discr{
  margin-top: 60px;
  max-width: 390px;
  height: 492px;
  background-size:cover;
  background-position: center;
  border-radius: 12px;
}
.img-1{
  background-image: url(../img/card_image_1.jpg);
}
.img-2{
  background-image: url(../img/card_image_2.png);
}
.img-3{
  background-image: url(../img/card_image_3.jpg);
}
.example{
  display: flex;
  margin: auto;
  max-width: 1920px;
  height: 922px;
  background: #245852;
  justify-content: center;
  align-items: center;
}
.info-example{
  width: 580px;
  margin-right: 31px;
}
.title-example{
  font-weight: 700;
  font-size: 50px;
  line-height: 157%;
  color: #FFFFFF;
  margin: 0 0 33px 0;
}
.subtitle-example{
  font-weight: 700;
  font-size: 25px;
  line-height: 157%;
  color: #FFFFFF;
}
.button-example{
  margin-top: 57px;
  width: 240px;
  height: 65px;
}
.video-example{
  width: 900px;
  height: 517px;
}
.video-example-1{
  width: 100%;
  height: 100%;
}
.custom{
  position: relative;
  display: flex;
  margin: auto;
  margin-top: 120px;
  max-width: 1920px;
  height: 922px;
  align-items: end;
  justify-content: center;
}
.person{
  position: absolute;
  left: 250px;
  top: 350px;
  z-index: 99;
  background-color: #fff;
  padding: 22px 55px;
  width: 300px;
  max-height: 300px;
  border-radius: 3.72971px;
  box-shadow: 0px 3.62249px 18.1125px rgba(165, 165, 165, 0.25);
}
.person-title{
  margin: 0;
  font-weight: 700;
  font-size: 14.49px;
  line-height: 157%;
  text-align: center;
  color: #000000;
}
.person-title::after{
  display: inline-block;
  content: "";
  width: 110px;
  height: 1px;
  background-color: #000;
}
.person-profile{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}
.person-photo{
  width: 58px;
  height: 58px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
}
.person-comment{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.person-comment-title{
  font-weight: bold;
  font-size: 15.9292px;
  line-height: 157%;
  color: #000000;
}
.person-comment-texts{
  padding: 0 5px;
}
.person-comment-text{
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 10.6195px;
  line-height: 157%;
  color: #000000;
}
.custom-image{
  margin-left: 60px;
  width: 640px;
  height: 573px;
  object-fit: contain;
  background-color: rgba(1, 153, 109, 0.2);
  border-radius: 18.1125px;
}
.custom-info{
  margin-left: 87px;
  max-width: 584px;
}
.about-custom-info{
  display: flex;
  flex-direction: column;
}
.title-custom-info{
  margin: 10px 0 20px 0;
}
.title-custom-info{
  font-weight: 700;
  font-size: 50px;
  line-height: 157%;
  color: #01996D;
  margin-bottom: 40px;
}
.footer-nav{
  margin: 0;
}
.footer-menu{
  display: flex;
  margin: auto;
  max-width: 1920px;
  background: #245852;
  justify-content: space-between;
  align-items: center;
  padding: 40px 100px;
}
.footer-link{
  color: #fff;
}
